Localization
{
    ru
    {
        #LOC_EMExt_CoM_Msg = Оси центра масс: <<1>>
        #LOC_EMExt_CoT_Msg = Ось центра тяги: <<1>>
        #LOC_EMExt_CoL_Msg = Оси центра подъемной силы: <<1>>

        #LOC_EMExt_On = ВКЛ
        #LOC_EMExt_Off = ВЫКЛ

        #LOC_EMExt_Tooltip_Hint = <color=orange>[ПКМ]</color> Переключить отображение осей
    }
}
